/* Validation Coloring */

.validation-label[data-validation="true"] {
  color: #009944;
}

.validation-label[data-validation="false"] {
  color: #cf000f;
}

/* Arguments Table */
.arguments-table tbody tr td {
  min-width: 8rem;
  padding-inline: .5rem;
}
